* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    display: grid;
    grid-template:
    "header header "
    "nav article ";

    grid-template-rows: 6.2% 1fr;
    grid-template-columns: 15% 1fr;
    grid-row-gap: 0;
    grid-column-gap: 0;
    height: 100vh;
    /* width: 100vw; */
}

#pageHeader {
    grid-area: header;

}

#mainArticle {
    /* border: 2px solid black; */
    grid-area: article;
}

#mainNav {
    grid-area: nav;
}

header {
    width: 100%;
    /* border: 2px solid black; */
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 1.5rem;
    padding-right: 1rem;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

article {
    background-color: #dae0e6;
    /* padding-top: 2rem; */
    /* padding-left: 10rem; */
    /* border: 2px solid red; */
    overflow-y: auto;
}

#header-logo {
    /* border: 2px solid red; */
    max-width: 6rem;
    transform: scale(1.2);
    margin-right: 10rem;
}

#header-logo img {
    width: 3.1rem;
    /* max-height: 100%; */
    height: 2.1rem;
}
#home-nav {
    /* border: 2px solid black; */
    padding-top: 0.1rem;
    display: flex;
    align-items: center;
    /* width: 13%; */
    margin-right: 5rem;
}
#home-nav img {
    height: 50%;
    margin-right: 0.5rem;
}
.header-text {
    padding-top: 0.2rem;
    color: black;
    font-size: 1.2rem;
    font-weight: 500;
    font-family: "Courier New", Courier, monospace;
}
#home-search {
    display: flex;
    /* align-items: center; */
    /* border: 2px solid black; */
    padding: 0.3rem;
}
.search-bar {
    width: 30rem;
    height: 100%;
    background-color: #ebeced;
    border: none;
    border-radius: 1.2rem;
    font-size: 1.2rem;
    padding-left: 2rem;
    margin-right: 2rem;
}
.search-bar:hover {
    border: 1px solid blue;
    background-color: white;
}
.post-user-data {
    display: flex;
    padding-top: 1rem;
    padding-bottom: 0.3rem;
    padding-left: 0.1rem;
}
.search-bar::placeholder {
    font-size: 1.1rem;
}
.search-bar:focus {
    outline: none;
}
.header-options {
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    padding-left: 1.9rem;
    padding-top: 0.2rem;
}

.header-options a img {
    width: 40%;
    margin-right: 1.5rem;
}

#header-profile {
    /* border: 2px solid black; */
    width: 15rem;
    display: flex;

}

#header-profile-pic {
    background-color: #ebeced;
    border-radius: 90%;
    margin-left: 1.2rem;
    margin-right: 0.8rem;
}

#header-profile-pic img {
    height: 90%;
    width: 90%;
}

#header-profile-details {
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    color: black;
    /* border: 2px solid green; */
}

#karma-div {
    color: black;
    display: flex;
}

#karma-div img {
    height: 35%;
    /* width: 50%; */
}

#username-div {
    /* border: 2px solid olive; */
    font-size: 1.1rem;
    /* text-align: center; */
}
#posts-main {
    width: 90%;
    min-height: 10%;
    /* border: 2px solid black; */
    display: flex;
    padding-left: 10%;
}

#posts-div {
    width: 62%;
    /* border: 2px solid red; */
    margin-right: 2.5rem;
    padding-bottom: 2rem;
    /* background-color: white; */
}

#posts-nav-div {
    /* border: 2px solid green; */
    width: 30%;
    background-color: white;
    max-height: 8rem;
}

#upload-div {
    display: flex;
    background-color: white;
    align-items: center;
    padding: 0.5rem 1.1rem;
    margin-bottom: 1.9rem;
}

#new-post-input {
    /* border: 2px solid green; */
    width: 80%;
    margin-right: 1.2rem;
}

#post-input-box {
    width: 100%;
    height: 2.5rem;
    background-color: #ebeced;
    border: none;
    padding-left: 1.5rem;
    font-size: 1.3rem;
}

#post-input-box:focus {
    background-color: white;
}

#post-input-box::placeholder {
    font-size: 1rem;
    letter-spacing: 0.1rem;
}

#new-post-media {
    display: flex;
    align-items: center;
    /* border: 2px solid red; */
}

#new-post-media img {
    /* border: 2px solid red; */
    width: 2.5rem;
    margin-right: 1rem;
}

#dp-input {
    width: 3.5rem;
    margin-right: 1.2rem;
}

.post {
    /* border: 2px solid red; */
    min-height: 14rem;
    display: flex;
    background-color: white;
    margin-bottom: 2rem;
    padding: 0.5rem;
}

.post-vote-container {
    background-color: #f8f9fa;
    /* border: 2px solid green; */
    width: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    font-size: 0.9rem;
}


.post-vote-container p {
    margin: 1.2rem 0;
    /* font-size: 1.1rem; */
}
.post-data {
    width: 93%;
    /* border: 2px solid purple; */
}
.vote-img {
    width: 1.4rem;
}
.post-media {
    /* padding: 20px; */
    /* border: 2px solid orangered; */
    /* padding: 20px 0px 5px 0px; */
    padding: 0.7rem 0 0.5rem 0;
}
.video-container {
    position: relative;
    padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
    height: 0;
    width: 100%;
}

.video-container video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.image-container {
    position: relative;
    padding-bottom: calc(var(--aspect-ratio, 0.5625) * 100%);
    height: 0;
    width: 100%;
}
.image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.post-content {
    /* border: 2px solid red; */
    padding: 0.7rem 0.6rem 0.6rem 0.7rem;
}

.post-content p {
    font-size: 1rem;
}

.post-data a {
    text-decoration: none;
    color: black;
}
.post-options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0rem 0rem;
    /* border: 2px solid black; */
}

.post-comments,
.post-save,
.post-share {
    /* padding: 0.2rem; */
    display: flex;
    /* border: 1px solid black; */
    align-items: center;
    margin-right: 1.2rem;
}
.comments-img {
    width: 15%;
    margin-right: 0.9rem;
}

.post-comments:hover,
.post-share:hover,
.post-save:hover {
    background-color: #ebeced;
}

.share-img {
    width: 30%;
    margin-right: 0.8rem;
}

.save-img {
    width: 22px;
    margin-right: 0.8rem;
}

#nav-section {
    /* border: 1px solid orange; */
    height: 100%;
    width: 100%;
    padding: 15% 0% 0 0%;
}

.nav-heading {
    /* border: 1px solid red; */
    display: flex;
    /* justify-content: center; */
    color: rgb(32, 32, 32, 0.8);
    font-size: 0.75rem;
    margin-bottom: 1rem;
}
.nav-heading,
.content-element {
    padding: 0.3rem 0 0.3rem 1.2rem;
}
.nav-content-box {
    /* display: flex; */
    /* border: 2px solid olive; */
    margin-bottom: 1.5rem;
}
.nav-content-box a {
    text-decoration: none;
    color: black;
}
.content-element {
    display: flex;
    /* border: 2px solid olive; */
    display: flex;
    align-items: center;
    margin-bottom: 0.6rem;
    /* font-size: 3rem; */
    /* padding: 15% 10% 0 10%; */
}
/* .content-element p {
  font-size: 1.11rem;
} */
.content-element:hover {
    background-color: #ebeced;
}

.content-img img {
    /* border: 1px solid red; */
    /* width: 20%; */
    /* height: 10%; */
    width: 1.2rem;
    height: 1.2rem;
    display: flex;
    align-items: center;
    margin-right: 0.5rem;
}

.content-name {
    font-size: 1rem;
    display: flex;
    align-items: center;
}

.nav-content-dp {
    border-radius: 50%;
    /* border: 1px solid cadetblue; */
    overflow: hidden;
}
.post-container-1 {
    display: flex;
    /* border: 2px solid salmon; */
}
.post-title{
    font-size: 2rem;

    margin-bottom: 1rem;
}
.post-title-content{
    margin-bottom: 1rem;
}
.login,
.register {
    /* border: 1px solid red; */
    width: 20%;
    padding: 0.4rem 3.5rem;
    margin-right: 1rem;
    text-decoration: none;
    /* text-align: center; */
    display: flex;
    font-weight: 600;
    justify-content: center;
    border-radius: 2.1rem;
}
.login {
    background-color: red;
    color: white;
}
.register {
    background-color: rgb(0, 71, 116);
    color: white;

}

#community-header {
    width: 100%;
    /* border: 2px solid black; */
    /* padding: 60px;  */
    margin-bottom: 2.4rem;
    background-color: white;
}
#community-color-banner {
    background-color: #35a7fb;
    width: 100%;
    padding: 2.3rem;
}
#community-data-banner {
    background-color: white;
    width: 100%;
    /* border: 2px solid red; */
    padding: 0.2rem 8rem;
}
#community-data {
    display: flex;
    width: 100%;
    /* border: 2px solid olive; */
}

#dp-img-div {
    /* border: 2px solid orangered; */
    border-radius: 50%;
    width: 6.1rem;
    height: 6.1rem;
    overflow: hidden;
    margin-right: 20px;
}

#dp-img-div img {
    width: 6rem;
    height: 6rem;
}

#community-banner-name {
    padding-top: 1.5rem;
    margin-right: 2rem;
}
#community-banner-name h1 {
    margin-bottom: 0.5rem;
}

#community-banner-name a {
    color: black;
    text-decoration: none;
    font-weight: 300;
}

#community-banner-btn,
#community-banner-settings {
    padding-top: 1.5rem;
}

#community-banner-btn input[type="submit"] {
    /* padding: 7px 40px;  */
    width: 5.2rem;
    height: 1.6rem;
    border-radius: 30px;
    border: none;
    font-size: 0.9rem;
    color: white;
    background-color: #0079d3;
    font-weight: bold;
    cursor: pointer;
    margin-right: 2rem;
}

#community-banner-settings input[type="submit"] {
    width: 5.2rem;
    height: 1.6rem;
    border-radius: 2rem;
    border: none;
    font-size: 0.9rem;
    color: white;
    background-color: red;
    font-weight: bold;
    cursor: pointer;
}

#div-about-community {
    /* padding: 10px; */
    margin-bottom: 2rem;
}
.div-about-community-heading {
    padding: 0.6rem;
    background-color: #0079d3;
    font-size: 0.8rem;
    color: white;
}
#div-community-info {
    padding: 0.8rem;
    font-size: 0.9rem;
    line-height: 1.2rem;
    background-color: white;
}
#div-community-created {
    display: flex;
    padding: 0.8rem;
    align-items: center;
    border-bottom: 1px solid black;
    background-color: white;
}

#div-community-created img {
    width: 1.2rem;
    height: 1.2rem;
    margin-right: 1.1rem;
}
#div-community-created p {
    font-size: 1rem;
}

#nav-create-post {
    display: flex;
    padding: 1.1rem;
    justify-content: center;
    background-color: white;
}

#div-community-people {
    display: flex;
    padding: 1.1rem;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid rgb(114, 114, 114, 0.5);
    font-size: 0.9rem;
}

#nav-create-post a {
    width: 50%;
    text-decoration: none;
    background-color: #0079d3;
    color: white;
    padding: 0.2rem;
    font-weight: 600;
    font-size: 0.9rem;
    border-radius: 3rem;
    text-align: center;
}

#nav-contact-moderators {
    display: flex;
    flex-direction: column;
    padding: 1.4rem;
    justify-content: center;
    background-color: white;
}
#message-mod {
    width: 90%;
    text-decoration: none;
    background-color: white;
    color: #0079d3;
    padding: 0.4rem;
    font-weight: 600;
    border-radius: 3.5rem;
    text-align: center;
    border: 1px solid #0079d3;
}
#mod-names {
    /* border: 1px solid red; */
    min-height: 6rem;
    padding: 1.1rem;
    font-size: 1.01rem;
    /* padding-left: 50px; */
}
.mod-name-link {
    text-decoration: none;
    color: #0079d3;
}
.mod-name {
    margin-bottom: 0.8rem;
}
#all-mods {
    display: flex;
    justify-content: end;
    font-size: 1.02rem;
    font-weight: 600;
}

.page-btns {
    /* display: flex; */
    width: 100%;
    /* border: 1px solid orange; */
    /* padding-bottom: 2rem; */
    /* justify-content: space-between; */
}
.page-btn {
    text-decoration: none;
    font-size: 1rem;
}
.prev {
    background-color: red;
    color: white;
    font-weight: 600;
    padding: 0.3rem;
    float: left;
}
.next {
    background-color: seagreen;
    color: white;
    font-weight: 600;
    padding: 0.3rem 1.4rem;
    float: right;
}
.hide{
    display:none;
}