<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Dashbord</title>
  <link rel="stylesheet" th:href="@{/css/settings.css}"/>
  <style>
    .categories{
        position: relative;
        left: 11em;
         height: 3em;
    }
    .catgeoriesoption{
        height: 2em;
        width: 11em;
    }
  </style>
</head>
<body>
<main>
  <header id="pageHeader">
    <div id="header-logo">
      <a href="">
        <!--            th:src="@{/images/home.png}"-->
        <img src="/images/Reddit-logo.png" alt="logo" class="header-img" />
      </a>
    </div>
    <div id="home-nav">
      <img src="/images/home.png" alt="home" class="header-img" />
      <h4 class="header-text">Home</h4>
    </div>
    <div id="home-search">
      <input type="search" class="search-bar" placeholder="Search Reddit" />
    </div>
    <div id="header-options">
      <a href="">
        <img src="/images/popular.png" alt="home" class=".header-options-img" />
      </a>

      <a href="">
        <img src="/images/notify.png" alt="home" />
      </a>

      <a href="">
        <img src="/images/message.png" alt="home" />
      </a>

      <a href="">
        <img src="/images/plus.png" alt="home" />
      </a>
    </div>

    <div id="header-profile">
      <div id="header-profile-pic">
        <img src="/images/dp.png" alt="picture" />
      </div>

      <div id="header-profile-details">
        <div id="username-div">
          <p>sham_yaswanth</p>
        </div>

        <div id="karma-div">
          <img src="/images/karma-star.png" alt="star" />
          <p>100786 karma</p>
        </div>
      </div>
    </div>
  </header>

  <article id="mainArticle">
    <div id="community-settings">
      <div id="settings-panel">
        <form th:action="@{add-settings}" method="get">
          <h1 id="setting-heading">Community Settings</h1>
          <div class="setting">
            <div class="setting-name">
              <h3> Community Picture :</h3>
            </div>

            <div id="dp">
              <img src="/images/dp.png" alt="" />
            </div>
            <div id="change-dp-btns">
              <input type="file" class="dp-btns" id="upload-btn" />
            </div>
            <div class="categories">
              <select class="catgeoriesoption" name="communityCategory">
                <option>Select a category</option>
                <option>Gaming</option>
                <option>Sports</option>
                <option>Technology</option>
                <option>Business</option>
                <option>Others</option>
              </select>
            </div>
          </div>
          <!--                 <div class="setting-about">-->
          <!--                  <select th:name="category">-->
          <!--                      <option value="">Select a category</option>-->
          <!--                      <option th:each="category : ${categories}" th:value="${category.name}" th:text="${category.name}"></option>-->
          <!--                  </select>-->
          <!--                  </div></div>-->
          <div class="setting">
            <div class="setting-name">
              <h3>Change About :</h3>
            </div>
            <div id="setting-about">
              <textarea id="" cols="70" rows="7" name="about" th:text="${community.about != null ? community.about : ''}"></textarea>
            </div>
          </div>
          <div id="submit-settings">

            <input type="hidden" name="owner" th:value="${community.ownerId.userId}" />
            <input type="hidden" name="communityName" th:value="${community.communityName}" />
            <input type="submit" />
          </div>
        </form>
      </div>
    </div>
  </article>
  <nav id="mainNav"></nav>
</main>
</body>
</html>